/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Raleway", serif;
    line-height: 1.6;
    color: #303030;
}

body {
    background-image: url('../img/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Menu */
.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343434c5;
    backdrop-filter: blur(10px);
    padding: 0 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Desktop - Ordenação dos elementos */
.logo {
    order: 1;
}
.navegacao ul {
    order: 2;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sociais-bar {
    order: 3;
    display: flex;
    gap: 20px;
}
.toggle {
    order: 4;
    display: none;
    font-size: 30px;
    color: #4bbcdb;
}

/* Logo */
.logo img {
    max-height: 45px;
    width: auto;
}

/* Itens do Menu */
.navegacao ul li {
    padding: 20px;
    transition: background 0.3s ease;
}

.navegacao ul li:hover {
    background: #4bbcdb;
}

.navegacao ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
}

/* Social Bar */
.sociais-bar a {
    color: #4bbcdb;
    text-decoration: none;
    font-size: 1.8em;
}

.sociais-bar a:hover {
    color: #0284a8;
}

/* Conteúdo Principal */
.conteudo-principal {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    transition: 0.5s;
}

/* Rodapé */
.rodape {
    text-align: center;
    justify-content: flex;
    flex-direction: row;
    align-items: center;
    background-color: #343434c5;
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    height: 30px;
}

/* Pop-up imagem */
.image-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.image-popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-popup-container img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 10px #343434;
}
  

/* Responsividade */
@media (max-width: 768px) {
    .navegacao {
        flex-wrap: wrap;
    }
    
    .logo {
        display: none;
    }
    
    .toggle {
        display: block;
        order: 1;
        width: 100%;
        text-align: right;
    }
    
    .navegacao ul {
        order: 2;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-out;
        flex-direction: column;
    }
    
    .navegacao ul li {
        text-align: center;
        padding: 10px;
    }
    
    .navegacao ul.active {
        max-height: 600px
    }
    
    .sociais-bar {
        order: 3;
        width: 100%;
        justify-content: center;
        padding: 10px 0;
    }

    body {
        background-attachment: scroll; 
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/background3.jpg') no-repeat center center;
        background-size: cover;
        z-index: -1; 
        transform: translateZ(0); 
    }
}
