/* Estilo comum para todas as boxes */
main {
    padding-bottom: 80px; 
}

.box {
    padding: 30px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.hero,
.sobre-mim {
    margin-bottom: 0
}

/* Hero Section */
.hero-content h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    animation: fadeIn 3s ease-in-out;
    max-width: 900px;
}

.botao-hero {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4bbcdb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
}

.botao-hero:hover {
    background-color: #343434;
    transform: translateY(-5px);
}

/* Botões */
.botao {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #4bbcdb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.616);
}

.botao:hover {
    background-color: #0284a8;
    transform: translateY(-5px);
}

/* Sobre Mim */
.sobre-mim-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    text-align: center;
    margin-top: 30px;
}

.sobre-mim-imagem {
    position: relative;
    display: inline-block;
    border-radius: 50%; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    transition: 0.5s;
}

.sobre-mim-imagem img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block; 
}

.sobre-mim-imagem:hover{
    transform: scale(1.2);
}

.sobre-mim-texto h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #343434;
    text-align: center; 
}

.sobre-mim-texto p {
    font-size: 1.1rem;
    color: #343434;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: center; 
    max-width: 900px;
}

.sobre-mim-texto .botao {
    margin: 10px; 
}

/* Responsividade */
@media (max-width: 768px) {
    .box {
        width: 90%;       
        max-width: 400px;  
        padding: 15px;
        margin: 0 auto;    
    }
    .botao {
        padding: 10px;  
        margin: 5px;     
    }
    .hero-content h1 {
        font-size: 2rem;  
    }
    .hero-content p {
        font-size: 1rem;  
    }
    .sobre-mim-content {
        flex-direction: column;
        text-align: center;
    }
    .sobre-mim-imagem img {
        width: 150px;
        height: 150px;
    }
    .sobre-mim-texto h2 {
        font-size: 2rem;
    }
    .sobre-mim-texto p {
        font-size: 1rem;
    }
}